# Created by .ignore support plugin (hsz.mobi)
.idea/artifacts/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/junitgenerator-prj-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
out/
*.iml
