<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--读取数据库配置文件-->

    <context:property-placeholder location="classpath:config/db.properties"/>

    <!--配置数据源-->
    <bean name="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="maxIdleTime" value="1800"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--解决文件文件上传-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="maxUploadSize" value="102400000"></property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
        <property name="defaultEncoding">
            <value>utf-8</value>
        </property>
    </bean>


    <!--开启扫描@Autiwired-->
    <context:annotation-config/>


    <!--开启注解扫描-->
    <context:component-scan base-package="sugar"/>

    <!--开启注解驱动-->
    <mvc:annotation-driven/>

    <!--定义不被拦截的静态资源-->
    <mvc:resources location="/" mapping="/**/*.html"/>
    <mvc:resources location="/" mapping="/**/*.js"/>
    <mvc:resources location="/" mapping="/**/*.css"/>
    <!--图片资源-->
    <mvc:resources location="/" mapping="/**/*.png"/>
    <mvc:resources location="/" mapping="/**/*.jpg"/>
    <mvc:resources location="/" mapping="/**/*.gif"/>
    <mvc:resources location="/" mapping="/**/*.svg"/>
    <!--字体资源-->
    <mvc:resources location="/" mapping="/**/*.otf"/>
    <mvc:resources location="/" mapping="/**/*.eot"/>
    <mvc:resources location="/" mapping="/**/*.ttf"/>
    <mvc:resources location="/" mapping="/**/*.woff"/>
    <mvc:resources location="/" mapping="/**/*.woff2"/>
    <!--adobe flash-->
    <mvc:resources location="/" mapping="/**/*.swf"/>

    <mvc:resources location="/WEB-INF/" mapping="/admin/**"/>
    <!-- 配置视图解析器 -->
    <bean	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".html"/>
    </bean>


    <!--事务核心管理器-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>

    <!--开启注解事务驱动-->
    <tx:annotation-driven/>

    <!--配置mybatis-->

    <bean name="" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="typeAliasesPackage" value="sugar.bean"/>
    </bean>

    <!--mapper工厂-->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="mapper"/>-->
    <!--</bean>-->
</beans>