@charset "utf-8";

.btn-theme-green{
  color:#20e215 !important;
  border: 1px solid #20e215 !important;
  &:hover{
    background-color:#20e215 !important;
    color: #fff !important;
  }
}
//人员概况面板
#people-modal{
  width: 70vw;
  margin-left: -30vw;
  min-height: 65vh;
  max-height: 71vh;
  overflow: scroll;
  background-color: #f8f8f8;
}
