/* color */
.fw-border-primary {
  border: 1px solid #2d8cf0 !important; }

.fw-b-primary {
  background-color: #2d8cf0 !important; }

.fw-b-lightPrimary {
  background-color: #5cadff; }

.fw-b-darkPrimary {
  background-color: #2b85e4; }

.fw-b-title {
  background-color: #1c2438; }

.fw-b-content {
  background-color: #495060; }

.fw-b-SubColor {
  background-color: #80848f; }

.fw-circle {
  border-radius: 50%; }

.fw-margin-sm {
  margin: 6px; }

.fw-b-Disabled {
  background-color: #bbbec4; }

.fw-font-sm {
  font-size: 10px; }

.fw-font-de {
  font-size: 16px; }

.fw-font-lg {
  font-size: 26px; }

.fw-font-bold {
  font-weight: bold; }

.fw-c-fff {
  color: #fff; }

.fw-c-primary {
  color: #2d8cf0 !important; }

.fw-c-lightPrimary {
  color: #5cadff; }

.fw-c-darkPrimary {
  color: #2b85e4; }

.fw-c-title {
  color: #1c2438; }

.fw-c-Success {
  color: #19be6b !important; }

.fw-c-content {
  color: #495060; }

.fw-c-SubColor {
  color: #80848f; }

.fw-c-sa {
  justify-content: space-around; }

.fw-c-error {
  color: #ed3f14; }

.fw-c-Disabled {
  color: #bbbec4; }

.fw-fixed-bottom {
  position: fixed;
  bottom: 0px; }

.fw-w100 {
  width: 100%; }

.fw-w45 {
  width: 45%; }

.fw-flex {
  display: flex; }

.fw-c-c {
  justify-content: center; }

.fw-c-l {
  justify-content: left; }

.fw-c-sb {
  justify-content: space-between; }

.fw-warp {
  flex-wrap: wrap; }

.fw-bgc {
  background-color: #f8f8f9 !important; }

.fw-hide {
  display: none !important;
  visibility: hidden !important; }

.fw-margin-top-xs {
  margin-top: 16px; }

.fw-margin-left-mini {
  margin-left: 10px; }

.fw-margin-bottom-mini {
  margin-bottom: 10px; }

.fw-margin-right-mini {
  margin-right: 10px; }

.fw-margin-top-mini {
  margin-top: 10px; }

.fw-block {
  display: block; }

.fw-fl {
  float: left; }

.fw-fr {
  float: right; }

.fw-fdc {
  flex-direction: column; }

.fw-hportraip-default {
  width: 80px;
  height: 80px; }

.fw-hportraip-sm {
  width: 66px;
  height: 66px; }

.fw-padding-default {
  padding: 10px; }

.fw-text-c {
  text-align: center; }

.fw-w80 {
  width: 80%; }

.fw-w20 {
  width: 20%; }

.special-modal {
  width: 75%;
  left: 25%; }

ul.image-list {
  position: relative;
  max-height: 500px;
  overflow-x: scroll; }
  ul.image-list li {
    width: 100%; }

#reply-img li {
  position: relative;
  width: 116px;
  overflow: hidden;
  float: left;
  display: block;
  text-overflow: ellipsis; }
  #reply-img li .info {
    display: block;
    width: 100%;
    text-align: center; }
  #reply-img li .error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px; }
  #reply-img li .success {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: forestgreen;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px; }
  #reply-img li .wait {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: #dddddd;
    color: black;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px; }

.theme {
  color: #040404;
  margin-top: 10%; }
  .theme h1 {
    font-size: 50px; }

@keyframes heart {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(360deg); } }
#heart {
  width: 25px;
  transition: 1s;
  animation: heart 10s linear infinite;
  position: fixed;
  right: 10%;
  top: 5%; }
  #heart i {
    font-size: 30px;
    color: palevioletred; }

.scroll-area {
  max-height: 60px;
  overflow-y: scroll; }

/*# sourceMappingURL=style.css.map */
