@charset "utf-8";

$themecolor:#e21945;//粉色
$htmlback-color:#f0eff4;
$skyblue:#2196f3;;
$skygray:#777;
$skygreen:#5eb95e;
*{
	margin:0;
	padding: 0;
}


a{
	text-decoration: none;color: #333;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

ul{
	margin: 0;list-style: none;
}

div{
	display: block;
}


.my-color-gray{
	color:#999;
}

.my-color-blue1{
	color: #0e90d2;
}

.my-color-blue2{
	color: #3bb4f2;
}
.my-color-green{
	color: #5eb95e;
}
.my-color-orange{
	color: #F37B1D;
}
.my-color-red{
	color: #dd514c;
}

.cfff{
color:#fff;
}

.fs-normal{
	font-style:normal;
}
.bcfff{
	background-color:#fff;
}

.fw-bc-primary{
	background-color: $skyblue;
}
.green{
	font-size: 16px;color: #2aae14;font-weight: 350;
}

.btn-main{
	color: #2196f3;
}

.w50{
	width: 50%;
}
.w155p{
	width: 155px;
}
.w250p{
width: 250px;
}
.w100{
	width:100% !important;
}
.w20{
	width: 20%;
}

.textcenter{
	text-align: center;
}

.skyblue{
	color: #2196f3;
}
.skygray{
	color: #777;
}
.bottom-line{
	border-bottom: 1px solid #ddd;
}
.right-line{
	border-right: 1px solid #ddd;
}
.top-line{
	border-top: 1px solid #ddd;
}
.p6{
	padding: 6px;
}
.mb5{
	margin-bottom: 5px;
}
.m10{
	margin: 1rem;
}
.mt5{
	margin-top: 5px;
}

.mt15{
	margin-top:15px;
}

.mt30{
	margin-top: 30px;
}
.mt45{
	margin-top: 45px;
}

.ml15{
	margin-left: 15px;
}

.hide-leftsider{
	margin-left: 0;
	width: 100%;
}

.m5{
	margin:5px;
}
.mc{
	margin-left: auto;
	margin-right: auto;
}
.hw-overlay,.special-hw-overlay{
	display: none;
	position: fixed;top:0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.3);z-index:100;
}

.top-warning{
	background-color: #748aa0!important;color: #fff;opacity: 0.7;
	position: fixed;top: 0;left: 0;height: 35px;width: 100%;z-index: 3;
	i{display: block;float: left;line-height: 30px;height: 30px;font-size: 30px;padding-left: 5px;}
	p{
		display: block;float: left;padding-left: 10px;
		line-height: 35px;height: 35px;font-size: 10px;margin: 0px;
	}
}

.top-nav{
	height: 40px;line-height: 40px;width: 100%;overflow: hidden;
	position: fixed;top: 0;left: 0;z-index: 10;
	box-shadow: 0 0 4px #ddd;background-color: rgba(239,239,245,255);
	.btn-list{
		display: -webkit-box;
		height: 60px;line-height: 40px;overflow-x: auto;
		position: relative;text-align: center;animation-fill-mode: forwards;
		li{
			position: relative;font-size: 14px;min-width: calc(100vw/5);
			flex: 1;
			em{
				font-style: normal;font-size: 15px;
			}
		}
	}
}

.top-backing{
	background-color: #fff!important;box-shadow: 0 1px 1px #ddd;
	position: relative;top: 0;left: 0;height: 40px;width: 100%;
	i{display: block;float: left;line-height: 40px;height: 40px;font-size: 30px;padding-left: 5px;}
	p{
		text-align: center;
		display: block;padding-left: 10px;
		line-height: 40px;height: 40px;font-size:18px;margin: 0px;
	}
}
.sm-tip{
	text-align: center;font-size: 10px;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.f18{
	font-size: 18px;
}
.f13{
	font-size: 13px;
}

.f3rem{
	font-size: 3rem;
}

.f2rem{
	font-size: 2rem;
}

.f1rem{
	font-size: 1rem;
}

.ident2{
	text-indent: 2rem;
}
.ident1{
	text-indent: 1rem;
}

.pt5{
	padding-top: 5px;
}
.p10{
	padding: 10px;
}
.sidebar-nav-sub-ico-rotate90{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 90ms;
    transition: all 300ms;
}

// 操作栏按钮
.table-btn-warm{
	color:#e2d8bf !important;
	border:1px solid #e2d8bf !important;
	&:hover{
		background-color: #e2d8bf !important;
		color:#fff !important;
	}
}

.table-btn-green{
	color:$skygreen !important;
	border:1px solid $skygreen !important;
	&:hover{
		background-color: $skygreen !important;
		color:#fff !important;
	}
}
.table-btn-blue{
	color:#3bb4f2 !important;
	border:1px solid #3bb4f2 !important;
	&:hover{
		background-color: #3bb4f2 !important;
		color:#fff !important;
	}
}

.table-btn-yellow{
	color:#ffeb3b !important;
	border:1px solid #ffeb3b !important;
	&:hover{
		background-color: #ffeb3b !important;
		color:#000 !important;
	}
}

.table-btn-lightgreen{
	color:#4ce66e !important;
	border:1px solid#4ce66e!important;
	&:hover{
		background-color: #4ce66e !important;
		color:#fff !important;
	}
}
// 绩效弹窗
.model-score{
	width: 90% !important;
	border-radius: 1rem !important;
}
// 操作栏引发的弹窗
#ed-input{
	border: 1px solid #000;
    line-height: 3.6rem;
    width: 25rem;
}

// 表情库
.border-right{
	border-right: 1px solid #fff;
}
.border-top{
	border-top: 1px solid #fff;
}
.border-left{
	border-left: 1px solid #fff;
}
.border-bottom{
	border-bottom: 1px solid #fff;
}
.border-black{
	border:1px solid #000000;
	color: #000;
}

.my-color-000{
	color:#000 !important;
}

.fw-flex{
	display: flex;
}
.fw-warp{
	flex-wrap: wrap;
}
.fw-c-c{
	justify-content: center;
}
.fw-c-sb{
	justify-content: space-between;
}

// 表情区域


.emoji-list {
  position: relative;
	max-height: 140px;
	overflow-x: hidden;
	overflow-y: scroll;
  li.role {
    width: 25%;

    span {
      width: 100%;
      font-size: 17px;

      &:hover {
        text-overflow: unset;
        font-size: 16px;
        white-space: normal;
      }
    }
  }

  li.symbol {
    width: 33%;

    span.key {
      width: 40%;
      font-size: 15px;

      &:hover {
        width: 100%;
        text-overflow: unset;
        font-size: 16px;
        white-space: normal;
      }
    }

    span.value {
      width: 60%;
      font-size: 15px;

      &:hover {
        width: 100%;
        text-overflow: unset;
        font-size: 16px;
        white-space: normal;
      }
    }
  }

  li {
    position: relative;

    i {
      position: absolute;
      top: -5px;
      right: -1px;
    }
  }
}

